<div class="row justify-content-center p-5">
  <div class="col-sm-11">
    <div class="card">
      <div class="card-header bg-transparent ">
        <div class="text-secondary"><h2>Inquiry</h2></div>
      </div>
      <div class="card-body">
        <% if @channels.present? %>
          <% @channels.each do |channel|%>
            <%= link_to channel.buyer.email,channel_admins_dashboard_index_path(channel_id: channel.id) %><br/>
          <% end %>
        <% else %>
          <div class="text-primary"><h5>No inquiry yet</h5></div>
        <% end %>
      </div>
    </div>
  </div>
</div> 


